nav {
    margin-block: 30px;
    margin-left: auto;
}

header {
    grid-area: info;
    height: auto;
    justify-self: center;
    background-image: url("/assets/images/Background_Intro.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px;
    position: relative;
    
    p {
        max-width: 750px;
    }
}

.tags {
    display: flex;
    gap: 16px;
}

.tag {
    color: var(--gray-200);
    font: var(--text-md);
    font-weight: 400;
    padding: 8px 16px;
    background-color: var(--gray-400);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 0.5px solid var(--gray-300);
}

.card:hover .node-svg path{
    fill: var(--green);
}

.card:hover .css-svg path{
    fill: var(--blue);
}

.card:hover .javascript-svg path{
    fill: var(--yellow);
}

.up-down {
    animation: up-down 2.5s ease infinite;
    position: absolute;
    top: 90%;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); 
    }
    100% {
        transform: translateY(0); 
    }
}

@media (min-width: 1720px) {
    header {
        height: 1080px;
    }
    
    .up-down {
    top: 80%;
    }
}